$primary: #e761af;

$link: $primary !default;
$link-hover: darken($primary, 10%);
$link-focus-border: $primary !default;

// Navbar styling
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: hsla(0, 0%, 100%, 0.1);
$navbar-item-color: #fff;
$navbar-item-active-color: #fff;
$navbar-background-color: transparent;
$navbar-height: 4rem;

// Modals
$modal-content-width: 800px;

// Footer
$footer-padding: 3rem;
