$primary: #7943ac;

$link: $primary !default;
// $link-invert: $primary-invert !default;
$link-focus-border: $primary !default;

// Navbar styling
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: hsla(0, 0%, 100%, .1);
$navbar-item-color: #fff;
$navbar-item-active-color: #fff;
// $navbar-item-active-background-color: hsla(0, 0%, 100%, .1);
$navbar-background-color: transparent;
